.container {
    padding: 10px;
  }
  
  
  .ItemsContainer {
    /* width: 100%; */
    width: 60%;
    height: 150px;
    padding: 10px;
    white-space: nowrap;
    user-select: none;
    cursor: grab;
    overflow: hidden;
    /* border: red 2px solid; */
  }
  
  hr{
    /* border: red 2px solid; */
    margin-top:0 ;
    margin-bottom: 0.5rem;
  }
  .item {
    /* border: 1px solid red; */
    /* width: 200px;
    height: 200px; */
    margin: 0 1rem;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 1rem;
    display: inline-flex;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    
    background-color: white;
    transition: transform 3s;
  }

  .item:hover{
    scale: 0.8;
    background-color: rgba(255, 255, 255, 0.1);
  
    transform: rotate(360deg);
  }
  
  
  .activeItems {
    /* background-color: lightblue; */
    cursor: grabbing;
  }
  
  
  