*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  transition: 
    width 3s,
    height 2s;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body { 
  scroll-behavior: smooth
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 16px;
}
/* ::-webkit-scrollbar-thumb:hover ~ ::-webkit-scrollbar{
  border: 2px solid yellow;
  width: 10px;
}
 */

.App{
  max-width: 81.25rem;
  /* border: red 2px solid; */
  margin:auto;
  overflow: hidden;

  scroll-snap-type: mandatory;
  /* display: flex;
  flex-direction: column; */
  /* position: relative; */
}
.navbar,.homepage,.skills{
  scroll-snap-align: start;
  /* border: red 2px solid; */
  width: 100%;
  padding: 0 0.5rem;
}

/*      Navbar */
.navbar{
  /* display: flex; */
  top: 0;
  position: fixed;
  /* overflow: hidden; */
  /* background-color: pink; */
  background-color: #333;
  width: 81.25rem;
  height: 5rem;
  /* opacity: 0.9; */
  z-index: 1;
}
.navbar h1{
  align-content: center;
  margin-left: 1rem;
  font-weight: 600;
}
.navbar .links{

  display: flex;
  flex-direction: row;
  margin-left: auto;
  /* margin-right: 1rem; */
}
.navbar .links li{
  padding:20px ;
  list-style: none;
  font-weight: 1000;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.navbar .links li:hover{
  scale: 1.2;
  cursor: pointer;
}
.navbar .links svg{
  margin: auto;
}
.navbar .links svg:hover{
  scale: 1.5;
  background-color: #ffff44;
  cursor: pointer;  
  color: #333;

}

.navbar .links .connectBtn, .navbar .connectBtn{
  /* border:1px white solid; */
  height:50px;
  width:170px;
  text-align:center;
  margin:auto 0 auto 20px;
  padding:15px;
  border-radius:20px;
  background-color:#ffff44;
  color: #333;
  text-shadow: 1px 1px white;
}

.navbar .links .connectBtn:hover{
  scale: 1.05;
  cursor: pointer;
}

.navbar .menuBtn{
  border: 0;
  background-color: transparent;
  display: none;
}

.navbar .menuBtn:hover{
 
}

.navbar .hidden-menu{
  display: none;
}

/*      Homepage  */
.homepage{
  margin-top: 5rem;
  margin-bottom: 5rem;
  display:grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 1fr; */
  /* border: 2px red solid; */
}

.intro-text{
  /* border:red 2px solid; */
  margin-top: 30% ;

}
.intro-text h1{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 550;
  /* font-family: sans-serif; */
}
.intro-text h4{
  font-size: 1.2rem;
  border: 2px white solid;
  width: 18rem;
 
  /* font-weight: bold; */
}
.intro-text p{

}

.homepage img{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
}


/* Skills   */
.skills h2{
  text-align: center;
  font-weight: bold;
}
.skills h3{
  text-shadow: 5px 5px 10px white;
}
/* .carousel-control-prev{
  display: none;
}
.carousel-control-next{
  display: none;
} */
/* .skills div{
  display:flex;
 flex-direction: column;
} */


/*    Projects */
.projects{
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* border: 1px solid red; */
}
.projects h2{
  text-align: center;
  font-weight: bold;
}

                          /* Projects Carousel  */
.projects .container {
  padding: 0;
  /* border: 1px solid red; */
  margin-top: 1rem;
  /* margin-bottom: 2rem; */
}

.projects .container hr{
  opacity: 0;
}
.projects .ItemsContainer {
    /* border: 1px solid red; */
  width: 100%;
  height: 33rem;
  padding: 10px;
  white-space: nowrap;
  user-select: none;
  cursor: grab;
  overflow: hidden;
  margin: auto;
  /* border: blue 2px solid; */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}


.projects .item {
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* border: 2px solid #ffff44; */
  margin: 0 2rem;
  width: 30rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  height: 30rem;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
}

.projects .item:hover{
  /* scale: 1.1; */
  /* background-color: rgba(255, 255, 255, 0.1); */
}


.projects .item .itemContent{
  border:#ffff44 2px solid;
  height: 18rem;
  width: 100%;
  align-self: flex-start;
  width: 100%;
  border-radius: 1rem ;
  margin: 1rem 0 1rem 0;
  position: relative;
}

.projects .item .itemContent img{
  /* border: blue 2px solid; */
  width: 100%;
  height: 100%;
}
.projects  .item p{
  border: white 2px solid;
  border-top: none;
  border-radius: 1rem;
  /* width: 10rem; */
  word-wrap:break-word;
  overflow-wrap: break-word;
  white-space: normal;
  /* margin-top: 10rem; */
  height: 10rem;
  transition: grid-row 5s;
}

.projects .item label{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  /* border: red 2px solid; */

}
.projects .activeItems {
  /* background-color: lightblue; */
  cursor: grabbing;
}


.projects .projectsBtn{
  border:1px white solid;
  height:50px;
  width:170px;
  text-align:center;
  margin:auto 0 auto 20px;
  padding:15px;
  border-radius:20px;
  background-color:white;
  color:#333;
  float: right;
}
.projects .item .itemContent a{
  text-decoration: none;
  border: rgb(80, 77, 77) 2px solid;
  background-color: transparent;
  position: absolute;
  height:5rem;
  width:70%;
  text-align:center;
  margin:auto 0 auto 20px;
  padding:15px;
  border-radius:20px;
  background-color:#333;
  color:white;
  font-weight: bold;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  /* z-index: 2; */
  /* transition: background-color 3s; */
  align-content: center;
}

/* .projects .item a button:active{
  background-color: #007bff;
} */
.projects .item .itemContent a:hover{
  background-color: #ffff44;
}
.projects .item .itemContent a:first-of-type{
  transform: translate(-128%,4rem);

}
.projects .item .itemContent a + a{
  transform: translate(-128%,10rem);
}

        
    /* Modal pop up */
.f_modal {
  display:block;
  background:rgba(0, 0, 0, .8);
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width: 100%;
  margin: auto;
  z-index: 1000;
  /* border: blue 3px solid; */
}

.f_modal:target {
  display:table;
}

.f_modal__dialog {
  display:table-cell;
  vertical-align:middle;
  /* border: yellow 2px solid; */
}

.f_modal__content {
  background: #333;
  /* border-radius: 1rem; */
  /* border-radius: 2rem; */
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideUp 0.3s ease-in-out;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: green 3px solid; */
  overflow: auto;
}

.f_modal_body{
  /* position: absolute; */
  /* border: red 2px solid; */
  /* height: 50rem; */
  height: 100%;
  width: 100%;
  overflow:auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto auto auto;
  gap: 2rem;
  padding: 3rem 2rem 2rem 3rem;
  align-items: center;
  justify-content: center;

}

.f_modal_body .projectCard{
  /* border: 3px red solid; */
  width: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  cursor: pointer;
  
}

/* .projectCard section:hover{
  box-shadow: none;
  border: #161616 3px solid;
} */

.projectCard section{
  position: relative;
  /* border: 3px #ffff44 solid; */
  border-radius: 1rem;
  box-shadow: 10px 10px 15px black;
}

.projectCard section img{
  width: 100%;
  height: 15rem;

}

.projectCard section a{
  /* position: absolute; */
  /*border: #ffff44 2px solid; */
  text-decoration: none;
  border: rgb(80, 77, 77) 2px solid;
  background-color: transparent;
  position: absolute;
  height:4rem;
  width:60%;
  text-align:center;
  margin:auto 0 auto 20px;
  padding:15px;
  border-radius:20px;
  background-color:#333;
  color:white;
  font-weight: bold;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  /* z-index: 2; */
  /* transition: background-color 3s; */
  align-content: center;
  z-index: 1;
 
}
.projectCard section a:hover{
  background-color: #ffff44;
  color: #333;
}
.projectCard section a:first-of-type{   
  transform: translate(-140%,70%);
}
.projectCard section a + a{
  transform: translate(-140%,200%);
}
.projectCard p{
  width: 100%;
  height: 11rem;
  border: 3px black solid;
  display: block;
  font-size: 0.9rem;
  border-radius: 1rem;
  margin-bottom: 0;
  padding-top: 1rem;
  /* box-shadow: -5px 5px 15px black; */
  
}
.projectCard h3{
  width: 100%;
  height: 10%;
  border: 3px #333 solid;
  grid-row: 1;
}

.f_modal__close {
  font-size: 30px;
  width:2rem;
  color:wheat;
  text-decoration: none;
  position:absolute;
  top: 1rem;
  right: 1rem;  
  text-align: center;
  color: red;
    /*box-shadow: -5px 5px 15px black; */
}


.f_modal__close:hover{

  border-radius: 10rem;
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes slideUp {
  from {
    opacity:0;
    bottom: -200px;
  }
  to {
    opacity:1;
    bottom:0;
  }
}



/*   Contact */
.contact{
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* border: #ffff44 4px solid; */
  padding: 3rem 0 3rem;
  /* background-image: linear-gradient(to top right,#ffff44,#ffff44,#3d7100); */
  background-image: radial-gradient(#ffff44,#ffff44,#ffff44,#333);
}
.contact h2{
  text-align: left;
  font-weight: bold;
  /* margin-bottom: 5rem; */
  /* border: red 2px solid; */
}

.contact .content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 2px green solid; */
}
.contact .imgContainer{
  /* border: 2px violet solid; */
  align-content: center;
  margin: auto;
  /* width: 100%; */
}
.contact img{
  /* border: 2px blue solid; */
  /* filter: blur(2px); */
  /* width: 100%;  */
  /* height: 100%; */
}
.contact .content .container{
  /* border: red 2px solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(5,1fr); */
  /* grid-template-rows: repeat(auto-fit, minmax(1fr,425px)); */
  /* grid-template-columns: repeat(auto-fit, minmax(425px,1fr)); */
  gap: 0.8rem;
  width: 100%;
  /* margin-top: 3rem; */
  /* margin-right: 0; */

}
.contact .content .container input{
  border: 2px #333 solid;
  border-radius: 1.5rem;
  background-color: transparent;
  height: 4rem;
  padding-left: 1rem;
  color: white;
}

.contact .content .container textarea{
  grid-column: 1/3 ;     
  /* grid-row: 3/6; */
  border: 2px #333 solid;
  border-radius: 1rem;
  background-color: transparent;
  height: 15rem; 
  padding: 1rem;
}

/* .contact .content .container ::placeholder {
  color: #333;
  opacity: 0.5; 
} */

.contact .content .container button{
  border:1px white solid;
  height:50px;
  width:170px;
  text-align:center;
  padding:15px;
  border-radius:20px;
  background-color:#333;
  color:white;
}


.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  margin-top: 10rem;
  /* border: red 2px solid; */

}
.footer div div{
   /* border: red 2px solid; */
   height: 3rem;
}







@media screen and (max-width: 1310px) {
  .homepage,.skills{
    max-width: 100%;
  }
  .navbar{
    max-width: 100%;
  }
  .contact .content{
    grid-template-columns: 1fr ;
    width: 100%;
  }
 
}


/*           Laptop Screen       */
@media screen and (max-width: 1024px) {
.homepage,.skills{
    max-width: 1024px;
    /* margin: 0 auto; */
  }
  .navbar{
    /* position: relative; */
    margin-left: auto;
    padding: 0.5rem;
    max-width: 100%;
  }
  .navbar .links{
    display: none;
  }
  .navbar .menuBtn{
    display: block;
    margin-right: 2%;
  }
  
  .navbar .hidden-menu{
    display: block;
    position: absolute;
    right: 4rem;
    top: 4rem;
    background-color: rgba(255, 255, 255, 0.1);
    /* width: 20rem; */
    width: 35%;
    border-radius: 1rem;
    z-index: 1;
    
  }
  .navbar .hidden-menu li{
    padding:10px ;
    list-style: none;
    font-weight: 800;
  }
  .navbar .hidden-menu li:hover{
    scale: 1.2;
    cursor: pointer;
  }

  .homepage{
    margin-top: 5rem;
  }

  .contact .content .container{
    grid-template-columns: 1fr ;
    /* grid-template-rows: repeat(8,1fr);  */
  }
  .contact .content .container textarea {
    grid-column: 1;
    /* grid-row: 5/8; */
  }


  
  .homepage{
    grid-template-columns: 1fr;
    margin-bottom: 20rem;
    /* border: red 2px solid; */
  }
  .intro-text{
    margin-top: 1rem;
    width: 100%;
    align-self: self-start;
    /* border: red 2px solid; */

  }
  .intro-text h1{
    font-weight: 550;
  }
  .intro-text h4{
    font-size: 1.2rem;
    border: 2px white solid;
    width: 18rem;
   
    /* font-weight: bold; */
  }
  .intro-text p{
    width: 100%;
    text-align: justify;
    /* border: red 2px solid; */
    
  }
  
  .homepage img{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    width: 100%;
    
  }
}











/*           Tablet Screen       */
@media screen and (max-width: 768px) {
  
.homepage,.skills{
    max-width: 768px;
    /* margin: 0 auto; */
  }
  .navbar{
    max-width: 100%;
  }
  /* .contact .imgContainer img{
    width: 100%;
  } */
  .contact .content{
    grid-template-columns: 1fr ;
    width: 100%;
  }
  .contact .container{
    grid-template-columns: 1fr ;
    /* grid-template-rows: repeat(8,1fr);  */
  }
  .contact .container textarea {
    grid-column: 1;
    /* grid-row: 5/8; */
  }
}


/*           Mobile Screen       */
@media screen and (max-width: 550px) {
  .homepage,.skills{
    max-width: 550px;

  }
  .navbar{
    max-width: 100%;
  }
  .contact{
    /* border: green 5px solid; */
    
  }

  .contact .content .imgContainer{
    /* border: blue 5px solid; */
    width: 100%;
    /* margin-right:20rem; */
    /* display: none; */
  }
  .imgContainer img{
    width: 100%;
  }
  .contact .content .container{
    width: 100%;
    /* margin-right:80rem; */
  }  

  




}

@media screen and (max-width: 425px) {
 .homepage,.skills{
    max-width: 425px;

  }
  .navbar{
    max-width: 100%;
  }
  /* .contact{
    width: 100%;
  }
  .contact .imgContainer{
    border: blue 5px solid;
    width: 80%;
  }
  .contact .imgContainer img{
    border: red 2px solid;
    width: 100%;
  }
  .contact .content{
    grid-template-columns: 1fr ;
    width: 100%;
    border: red 2px solid;
  }

  .contact .content .container{
    width: 100%;
  } */
   
} 